<ion-tabs>
  <ion-tab-bar slot=" bottom, top" color="success">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="appareil">
          <ion-icon name="apps-sharp"></ion-icon>
          <ion-label>Appareil</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="bluetooth">
              <ion-icon name="bluetooth-sharp"></ion-icon>
              <ion-label>Bluetooth</ion-label>
                </ion-tab-button>
            <ion-tab-button tab="apropos">
              <ion-icon name="information"></ion-icon>
              <ion-label>A propos</ion-label>
                </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

