<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title id="title"><strong> A PROPOS </strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="header">
    <span>
      <strong>CEEF</strong>
      <p>Developpée par :</p>
    </span>
    <div class="prof">
      <div class="profil profil1"></div>
      <div class="profil profil2"></div>
    </div>
  </div>
  <div class="copyrigth">
    <div class="description">
      <span>
        <strong>DZOUAKEU Cindy </strong><br>
        Developpeur frontend

      </span>
      <span>
        <strong>NSANGOU Flavel </strong><br>
        Developpeur backend
      </span>
    </div>
  </div>
  <ion-card>
   
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>@copyright 2023 </ion-title>
  </ion-toolbar>
</ion-footer>
