<ion-header>
  <ion-toolbar color="success">
    <ion-title id="title"><strong> ACCUEIL </strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="bg">
  <div id="container">
    <img src="../../assets/img/logo.jpg">
    
   
    <ion-card color="light">
      <ion-card-content>
      La meilleure application de gestion de transfert d'images
      </ion-card-content>
    </ion-card>
    <ion-button color="warning" (click)='presentActionSheet()'> description </ion-button>
  </div>
  
</ion-content>
